# Add files you want to ignore here
.idea/
.DS_Store
venv/
.coverage
Project3.json
Project3.schema.json
Project4.json
Project4.schema.json
cloud_sql_proxy
guides/
dontpush.py
Project5.json
Project5.schema.json
_pycache_/
.vscode/
