{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .d-flex {
        display:flex;
    }
    body{
        background-color: rgb(201, 106, 29)
    }
    .navbar {
        background-color: transparent;
    }
    .top-nav-collapse {
        background-color: #001C2A;
    }
    .parallax {
        /* The image used */
        background-image: url("../static/images/aboutbackground.jpg");
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
{% endblock %}
{% block content %}

    <div class="parallax">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h2 align="center" style="color:whitesmoke"><strong>Team CANJA</strong></h2>
    <br/>
    <br/>
    <br/>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-1"></div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card d-flex">

                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/carlos.JPG">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Carlos Loya</h4>
                            <!--Text-->
                            <p class="card-text">I'm a Human Development Major wanting to use technology to better understand the world and our place within it. I also work on web development at a cloud consulting firm, Intelligo.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>

                </div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card d-flex">

                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/AndrewC.jpg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Andrew Chen</h4>
                            <!--Text-->
                            <p class="card-text">I'm a chemistry major aspiring to be a professional keyboard tapper. I have experience designing and implementing a web-based identity management solution for Edinburg Consolidated Independent School District.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>

                </div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card d-flex">
                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/nancy.jpg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Nancy Tran</h4>
                            <!--Text-->
                            <p class="card-text">I'm a third year Arts and Entertainment Technologies major working my way into animating for games and designing for elaborate concert productions. Fave author is Haruki Murakami.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                    <br/>
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>

                </div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/Jkon.jpg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Jatin Konchady</h4>
                            <!--Text-->
                            <p class="card-text">I'm a phyiscs major beginning my third year here at UT. I'm also working towards completing the Elements of Computing program at UT. My main interest is riding my bike!</p>
                        </div>

                    </div>
                    <!--/.Card-->
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>

                </div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card d-flex">
                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/AndrewR.jpg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Andrew Rogalla</h4>
                            <!--Text-->
                            <p class="card-text">I'm a graduating senior in Management Information Systems at UT. I will be starting full-time in February with Bank of America in their Chicago corporate office.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>

                </div>

            <div class="col-md-1"></div>

        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container-fluid" style="background-color:rgb(201, 106, 29)">
        <br/>

        <div class="row">

            <div class="col-md-3 ml-auto"></div>

            <div class="col-md-2 ml-auto">
                <div class="card d-flex">

                <center>
                    <br/>
                    <h2 align="center">Github</h2><br>
                    <a class="btn btn-danger" href="https://github.com/arr3385/cs329e-idb/issues">Issue Tracker</a>
                    <br/>
                    <br/>
                    <a class="btn btn-success" href="https://github.com/arr3385/cs329e-idb">Project Repo</a>
                    <br/>
                    <br/>
                    <a class="btn btn-info" href="https://github.com/arr3385/cs329e-idb/wiki/Technical-Report">Technical Report</a>
                    <br/>
                    <br/>
                </center>

                </div>
            </div>

            <div class="col-md-2 ml-auto">

                <center style="color:whitesmoke">
                    <br/>
                    <br/>
                    <h2 align="center">Group Stats</h2><br>
                    <h6><strong>Commits:</strong> 125</h6><br/>
                    <h6><strong>Issues:</strong> 35</h6><br/>
                    <h6><strong>Unit tests:</strong> 14</h6><br/>
                    <a class="btn btn-danger" href="/unittests/">Run Unit Tests</a>
                    <br/>
                </center>

            </div>

            <div class="col-md-2 ml-auto">

                <div class="card d-flex">

                <center>
                    <br/>
                    <h2 align="center">Data &amp; Tools</h2>
                    <a class="btn btn-danger" href="http://www.cs.utexas.edu/~fares/cs329ef17/CS%20373_files/tutorials/books.json">Data source</a>
                    <br/>
                    <br/>
                    <a class="btn btn-success" href="http://flask.pocoo.org/">Flask</a>
                    <br/>
                    <br/>
                    <a class="btn btn-info" href="https://mdbootstrap.com/">Material Design Bootstrap</a>
                    <br/>
                    <br/>
                </center>

                </div>

            </div>

            <div class="col-md-3 ml-auto"></div>

        </div>

        <br/>
    </div>


    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    </div>



{% endblock %}
