{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}

    <style type="text/css">
        .home-card-wide.mdl-card {
            width: 300px;
        }
        .home-card-wide > .mdl-card__title_Jatin {
            color: #fff;
            height: 350px;
            background: url("{{url_for('static', filename='images/Jkon.jpg')}}") center / cover;
        }
		.home-card-wide > .mdl-card__title_AndrewC {
            color: #fff;
            height: 350px;
            background: url("{{url_for('static', filename='images/AndrewC.jpg')}}") center / cover;
        }
		.home-card-wide > .mdl-card__title_AndrewR {
            color: #fff;
            height: 350px;
            background: url("{{url_for('static', filename='images/AndrewR.jpg')}}") center / cover;
        }
		.home-card-wide > .mdl-card__title_Nancy {
            color: #fff;
            height: 350px;
            background: url("{{url_for('static', filename='images/nancy.jpg')}}") center / cover;
        }
		.home-card-wide > .mdl-card__title_Carlos {
            color: #fff;
            height: 350px;
            background: url("{{url_for('static', filename='images/carlos.JPG')}}") center / cover;
        }
        .home-card-wide > .mdl-card__menu {
            color: #fff;
        }
        li, h2, p {
          color: #263238;
        }
		/*.bgimg {
			background-color: rgb(224, 145, 42);
		}*/
    </style>
{% endblock %}
{% block content %}

    <h1 align="center">Team CANJA</h1>
    <br/>
    <br/>
    <br/>
	<center>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--2-col">
                <center>
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__title_Carlos">
                            <h2 class="mdl-card__title-text"></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Carlos Loya
                            <br/>
                            (C)
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <p>I'm a Human Development Major wanting to use technology to better understand the world and our place within it. I also work on web development at a cloud consulting firm, Intelligo.</p>
                            <li>Number of commits: 9</li>
                            <li>Number of issues: 3</li>
                            <li>Number of unit tests: 1</li>
                        </div>
                    </div>
                </center>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <center>
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__title_AndrewC">
                            <h2 class="mdl-card__title-text"></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Andrew Chen
                            <br/>
                            (A)
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <p>I'm a chemistry major aspiring to be a professional keyboard tapper. I have experience designing and implementing a web-based identity management solution for Edinburg Consolidated Independent School District. My objective is to become a better engineer and break into the industry.
                            <li>Number of commits: 17</li>
                            <li>Number of issues: 3</li>
                            <li>Number of unit tests: 1</li>
                        </div>
                    </div>
                </center>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <center>
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__title_Nancy">
                            <h2 class="mdl-card__title-text"></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Nancy Tran
                            <br/>
                            (N)
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <p>I'm a third year Arts and Entertainment Technologies major trying to get big in concert productions.</p>
                            <li>Number of commits: 4</li>
                            <li>Number of issues: 3</li>
                            <li>Number of unit tests: 1</li>
                        </div>
                    </div>
                </center>
            </div>
        <div class="mdl-cell mdl-cell--2-col">
            <center>
                <div class="home-card-wide mdl-card mdl-shadow--8dp">
                    <div class="mdl-card__title_Jatin">
                        <h2 class="mdl-card__title-text"></h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Jatin Konchady
                        <br/>
                        (J)
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <p>I'm a phyiscs major beginning my third year here at UT. I'm also working towards completing the Elements of Computing program at UT. My main interest is riding my bike!</p>
                        <li>Number of commits: 6</li>
                        <li>Number of issues: 3</li>
                        <li>Number of unit tests: 1</li>
                    </div>
                </div>
            </center>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
            <center>
                <div class="home-card-wide mdl-card mdl-shadow--8dp">
                    <div class="mdl-card__title_AndrewR">
                        <h2 class="mdl-card__title-text"></h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Andrew Rogalla
                        <br/>
                        (A)
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <p>I'm a graduating senior in Management Information Systems at UT. I will be starting full-time in February with Bank of America in their Chicago corporate office. </p>
                        <p>You probably aren't reading this.</p>
                        <p>Stop reading. You are just wasting your time.</p>
                        <p>I'm suprised you wasted your team reading this.</p>
                        <p>I told you to stop.</p>
                        <li>Number of commits: 24</li>
                        <li>Number of issues: 3</li>
                        <li>Number of unit tests: 1</li>
                    </div>
                </div>
            </center>
        <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
    </center>
    <br/>
    <center>
    <div class="bgimg" style="color:rgb(255, 255, 255)">
    <br/>

    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <h2 align="center">Group Stats</h2>
      	<p><strong>Total Number of commits:</strong> 66</p>
      	<p><strong>Total Number of issues:</strong> 16</p>
      	<p><strong>Total Number of unit tests:</strong> 1</p>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" href="https://github.com/arr3385/cs329e-idb/issues">GitHub Issue Tracker</a>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" href="https://github.com/arr3385/cs329e-idb">GitHub Repo</a>
          <br/>
          <br/>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://github.com/arr3385/cs329e-idb/wiki/Technical-Report">GitHub Wiki</a>
          <br/>
          <br/>
          <br/>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <h2 align="center">Data &amp; Tools</h2>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" href="http://www.cs.utexas.edu/~fares/cs329ef17/CS%20373_files/tutorials/books.json">Data source</a>
          <br/>
          <br/>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="http://flask.pocoo.org/">Flask</a>
          <br>
          <br>
          <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://getmdl.io/">Material Design</a>
      	<br>
      	<br>
      	<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://www.sqlalchemy.org/">SQLAlchemy</a>
      	<br>
      	<br>
      	<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://www.postgresql.org/">PostgresSQL</a>
          <br/>
          <br/>
          <br/>
          <br/>
    </div>
      <div class="mdl-cell mdl-cell--4-col">

      	<h2 align="center">Tests</h2>
      	<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="Unit_Test" href="/unit_tests">Click here to run our unit tests!</a>
      	<div id="result">
      </div>
    </div>


	<!-- <h2 align="center">Tests</h2>
	<a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="Unit_Test" href="/unit_tests">Click here to run our unit tests!</a>
	<div id="result">

	</div> -->
	<script type="text/javascript">
		output = '';
		$('Unit_Test').click()({

		})
		var div = document.getElementById('result');
		div.innerHTML += output;
	</script>
    </div>
    </center>
    <br/>
    <br/>
{% endblock %}
