{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .d-flex {
        display:flex;
    }
    body{
        background-color: rgb(201, 106, 29)
    }
    </style>
{% endblock %}
{% block content %}
<!-- 
    <h1 align="center">Team CANJA</h1>
	<center>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--2-col">
                <center>
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__title_Carlos">
                            <h2 class="mdl-card__title-text"></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Carlos Loya
                            <br/>
                            (C)
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <p>I'm a Human Development Major wanting to use technology to better understand the world and our place within it. I also work on web development at a cloud consulting firm, Intelligo.</p>
                            <li>Number of commits: 19</li>
                            <li>Number of issues: 4</li>
                            <li>Number of unit tests: 10</li>
                        </div>
                    </div>
                </center>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <center>
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__title_AndrewC">
                            <h2 class="mdl-card__title-text"></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Andrew Chen
                            <br/>
                            (A)
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <p>I'm a chemistry major aspiring to be a professional keyboard tapper. I have experience designing and implementing a web-based identity management solution for Edinburg Consolidated Independent School District. My objective is to become a better engineer and break into the industry.
                            <li>Number of commits: 31</li>
                            <li>Number of issues: 4</li>
                            <li>Number of unit tests: 1</li>
                        </div>
                    </div>
                </center>
            </div>
            <div class="mdl-cell mdl-cell--2-col">
                <center>
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__title_Nancy">
                            <h2 class="mdl-card__title-text"></h2>
                        </div>
                        <div class="mdl-card__supporting-text">
                            Nancy Tran
                            <br/>
                            (N)
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <p>I'm a third year Arts and Entertainment Technologies major trying to get big in concert productions.</p>
                            <li>Number of commits: 12</li>
                            <li>Number of issues: 3</li>
                            <li>Number of unit tests: 1</li>
                        </div>
                    </div>
                </center>
            </div>
        <div class="mdl-cell mdl-cell--2-col">
            <center>
                <div class="home-card-wide mdl-card mdl-shadow--8dp">
                    <div class="mdl-card__title_Jatin">
                        <h2 class="mdl-card__title-text"></h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Jatin Konchady
                        <br/>
                        (J)
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <p>I'm a phyiscs major beginning my third year here at UT. I'm also working towards completing the Elements of Computing program at UT. My main interest is riding my bike!</p>
                        <li>Number of commits: 11</li>
                        <li>Number of issues: 4</li>
                        <li>Number of unit tests: 1</li>
                    </div>
                </div>
            </center>
        </div>
        <div class="mdl-cell mdl-cell--2-col">
            <center>
                <div class="home-card-wide mdl-card mdl-shadow--8dp">
                    <div class="mdl-card__title_AndrewR">
                        <h2 class="mdl-card__title-text"></h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        Andrew Rogalla
                        <br/>
                        (A)
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <p>I'm a graduating senior in Management Information Systems at UT. I will be starting full-time in February with Bank of America in their Chicago corporate office. </p>
                        <p>You probably aren't reading this.</p>
                        <p>Stop reading. You are just wasting your time.</p>
                        <p>I'm suprised you wasted your team reading this.</p>
                        <p>I told you to stop.</p>
                        <li>Number of commits: 42</li>
                        <li>Number of issues: 17</li>
                        <li>Number of unit tests: 1</li>
                    </div>
                </div>
            </center>
        <div class="mdl-cell mdl-cell--1-col"></div>
        </div>
    </center>
    <br/>
    <center>
    <div class="bgimg" style="color:rgb(255, 255, 255)">
    <br/>

    <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col">
            <h2 align="center">Group Stats</h2>
            <p><strong>Total Number of commits:</strong> 125</p>
            <p><strong>Total Number of issues:</strong> 35</p>
            <p><strong>Total Number of unit tests:</strong> 14</p>
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" href="https://github.com/arr3385/cs329e-idb/issues">GitHub Issue Tracker</a>
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" href="https://github.com/arr3385/cs329e-idb">GitHub Repo</a>
              <br/>
              <br/>
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://github.com/arr3385/cs329e-idb/wiki/Technical-Report">GitHub Wiki</a>
              <br/>
              <br/>
              <br/>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <h2 align="center">Data &amp; Tools</h2>
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary" href="http://www.cs.utexas.edu/~fares/cs329ef17/CS%20373_files/tutorials/books.json">Data source</a>
              <br/>
              <br/>
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="http://flask.pocoo.org/">Flask</a>
              <br>
              <br>
              <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://getmdl.io/">Material Design</a>
            <br>
            <br>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://www.sqlalchemy.org/">SQLAlchemy</a>
            <br>
            <br>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" href="https://www.postgresql.org/">PostgresSQL</a>
              <br/>
              <br/>
              <br/>
              <br/>
        </div>
    </div>
    </center> -->

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <h2 align="center" style="color:whitesmoke"><strong>Team CANJA</strong></h2>
    <br/>
    <br/>
    <br/>
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-1"></div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card d-flex">
                    
                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/carlos.jpg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Carlos Loya</h4>
                            <!--Text-->
                            <p class="card-text">I'm a Human Development Major wanting to use technology to better understand the world and our place within it. I also work on web development at a cloud consulting firm, Intelligo.</p>
                        </div>
                        
                    </div>
                    <!--/.Card-->
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>
                    
                </div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card d-flex">
                    
                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/AndrewC.jpg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Andrew Chen</h4>
                            <!--Text-->
                            <p class="card-text">I'm a chemistry major aspiring to be a professional keyboard tapper. I have experience designing and implementing a web-based identity management solution for Edinburg Consolidated Independent School District.</p>
                        </div>
                    
                    </div>
                    <!--/.Card-->
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>
                    
                </div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card d-flex">
                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/nancy.jpg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Nancy Tran</h4>
                            <!--Text-->
                            <p class="card-text">I'm a third year Arts and Entertainment Technologies major trying to get big in concert productions.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                    <br/>
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>
                    
                </div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card">

                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/jkon.jpg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Jatin Konchady</h4>
                            <!--Text-->
                            <p class="card-text">I'm a phyiscs major beginning my third year here at UT. I'm also working towards completing the Elements of Computing program at UT. My main interest is riding my bike!</p>
                        </div>

                    </div>
                    <!--/.Card-->
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>
                    
                </div>

                <div class="col-md-2">
                    <!--Card-->
                    <div class="card d-flex">
                        <!--Card image-->
                        <img class="img-fluid" src="../static/images/andrewr.jpg">
                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Andrew Rogalla</h4>
                            <!--Text-->
                            <p class="card-text">I'm a graduating senior in Management Information Systems at UT. I will be starting full-time in February with Bank of America in their Chicago corporate office.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                    <br/>
                    <center style="color:whitesmoke">
                        <p>Number of commits: <b>19</b></p>
                        <p>Number of issues: <b>4</b></p>
                        <p>Number of unit tests: <b>10</b></p>
                    </center>
                    
                </div>

            <div class="col-md-1"></div>

        </div>
    </div>
    <br/>
    <br/>
    <div class="container-fluid" style="background-color:whitesmoke">
        <br/>
        <br/>

        <div class="row">
            
            <div class="col-md-3 ml-auto"></div>
                        
            <div class="col-md-2 ml-auto">
                <center>
                    <h2 align="center">Github</h2>
                    <a class="btn btn-danger" href="https://github.com/arr3385/cs329e-idb/issues">Issue Tracker</a>
                    <br/>
                    <br/>
                    <a class="btn btn-success" href="https://github.com/arr3385/cs329e-idb">Project Repo</a>
                    <br/>
                    <br/>
                    <a class="btn btn-info" href="https://github.com/arr3385/cs329e-idb/wiki/Technical-Report">Technical Report</a>
                    <br/>
                    <br/>
                </center>
            </div>
                
            <div class="col-md-2 ml-auto">
                <center>
                    <br/>
                    <br/>
                    <h4 align="center">Group Stats</h2>
                    <small><strong>Commits:</strong> 125</small><br/>
                    <small><strong>Issues:</strong> 35</small><br/>
                    <small><strong>Unit tests:</strong> 14</small><br/>
                </center>
            </div>

            <div class="col-md-2 ml-auto">
                <center>
                    <h2 align="center">Data &amp; Tools</h2>
                    <a class="btn btn-danger" href="http://www.cs.utexas.edu/~fares/cs329ef17/CS%20373_files/tutorials/books.json">Data source</a>
                    <br/>
                    <br/>
                    <a class="btn btn-success" href="http://flask.pocoo.org/">Flask</a>
                    <br>
                    <br>
                    <a class="btn btn-info" href="https://mdbootstrap.com/">Material Design Bootstrap</a>
                </center>
            </div>

            <div class="col-md-3 ml-auto"></div>
            
        </div>
        
        <br/>
        <br/>        
    </div>

    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


{% endblock %}
