{% extends "base.html" %}
{% block title %}Books{% endblock %}
{% block head %}
    {{ super() }}
    <!--Data Tables-->
    <link href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable({
		        "sAjaxSource": "{{ url_for('get_server_data_author') }}",
		        "columnDefs": [
                                    {
                                        "targets": [ 0 ],
                                        "visible": false
                                    },
                                    {
                                        "targets": [ 6 ],
                                        "visible": false
                                    }
                                ]
            });
        });
    </script>
{% endblock %}

{% block content %}
    <br><br><br>
        <table id="myTable" class="display" cellspacing="0" width="70%">
            <thead>
                <tr>
                    {% for column in columns %}
                        <th>{{column}}</th>
                    {% endfor %}
                </tr>
            </thead>
        </table>
{% endblock %}
