{% extends "list.html" %}
{% block title %}Authors{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <h1 align="center">Author List</h1>
    <br/>
    <br/>
    <br/>
    <center>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--8dp">
            <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric"><b>Author</b></th>
                </tr>
            </thead>
            <tbody>
            {% if authors == [] %}
                <p>No authors exist</p>         
            {% else %}
                {% for i in authors %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><a href={{ url_for('author',id_a=i.id) }} class="mdl-button">{{i.name}}</a></td>
                    <!-- {% if i.image_url != None %}
                        <td class="mdl-data-table__cell--non-numeric"><a href={{ url_for('author',id_a=i.id) }} class="mdl-button">{{i.image_url}}</a></td>
                    {% else %}
                        <td class="mdl-data-table__cell--non-numeric"><a href={{ url_for('author',id_a=i.id) }} class="mdl-button">None</a></td>
                    {% endif %} -->
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </center>
    <br/>
    <br/>
{% endblock %}
