{% extends "item.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .home-card-wide > .mdl-card__title {
            color: #000000;
            height: 750px;
            background: url({{cover}}) center / cover;
        }
    </style>
{% endblock %}

{% block content %}
    <br/>
    <br/>
    <br/>
    <br/>
    {% for i in author %}
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-3 ml-auto"></div>
            <div class="col-md-3 ml-auto">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <img src={{i.image_url}}>
                </div>
                <!--/.Card-->
            </div>            
            <div class="col-md-3 ml-auto">
                <!--Card-->
                <div class="card card-cascade">
                    <!--Card content-->
                    <div class="card-body text-center">

                        <p><strong>Name:</strong><br/>{{i.name}}</p>
                
                        <p><strong>Born:</strong><br/>{{i.born}}</p>
                
                        <p><strong>Education:</strong><br/>{{i.education}}</p>
                
                        <p><strong>Nationality:</strong><br/>{{i.nationality}}</p>
                                                
                        <p><strong>Alma Mater:</strong><br/>{{i.alma_mater}}</p>

                        <p><strong>Died:</strong><br/>{{i.died}}</p>
                        
                        <p><strong>Wikipedia:</strong><br/><a class="btn btn-secondary" href={{i.wikipedia_url}}>Click here to learn more!</a></p>         

                    </div>
                    <!--/.Card content-->
                    <div class="card-body text-center">
                        
                        <h4 class="card-title"><strong>Description</strong></h4>
                
                        <p class="card-text">{{i.description}}</p>
                
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card-->
            </div>
            <div class="col-md-3 ml-auto"></div>
            </div>                 
        </div>
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ml-auto"></div>
                <div class="col-md-2 ml-auto"></div>                
                <div class="col-md-2 ml-auto">
                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Books Published</h4>
                            <!--Text-->
                            <p class="card-text">Book #1</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <div class="col-md-2 ml-auto">
                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Affiliated Publishers</h4>
                            <!--Text-->
                            <p class="card-text">Publisher</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <div class="col-md-2 ml-auto"></div>
                <div class="col-md-2 ml-auto"></div>                
            </div>
        </div>                
    {% endfor %}
<br/>
<br/>
{% endblock %}