{% extends "item.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .home-card-wide > .mdl-card__title {
            color: #fff;
            height: 750px;
            background: url({{cover}}) no-repeat center / cover;
        }
        html {
            background-color: rgb(249, 249, 249);
        }
    </style>
{% endblock %}
{% block content %}

    <br/>
    <br/>
    <br/>
    <center>
      <head>
          <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
          <link rel="stylesheet" href="/static/css/styles.css">
      </head>
    {% for i in book %}
        <center>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__title"></div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__supporting-text">
                            <h3><b><u>Book Title:</u> <b>{{i.title}}</b></h3>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h4><b><u>ISBN: </u></b>{{i.isbn}}</h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h4><b><u>Google ID:</u></b> {{i.google_id}}</h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h4><b><u>Description:</u></b> {{i.description}}</h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h4><b><u>Date published:</u></b> {{i.pub_date}}</h4>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <p><b><u>Wiki link:</u></b> <a href={{i.wiki_link}} class="mdl-button mdl-js-rimdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Click here to learn more!</a></p>
                        </div>
                        <!-- <div class="mdl-card__menu">
                            <button href={{i.image_url}} class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">this is a button
                            </button>
                        </div> -->
                    </div>
                </div>
            </div>
        </center>
    {% endfor %}
    </center>
{% endblock %}
