{% extends "base.html" %}
{% block title %}Books{% endblock %}
{% block head %}
    {{ super() }}
    <!--Data Tables-->
    <link href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#myTable').DataTable({
		        "sAjaxSource": "{{ url_for('get_server_data_book') }}",
		        "columnDefs": [
                                    {
                                        "name": "ID",
                                        "targets": 0,
                                        "render": function ( data, type, row, meta ) {
                                            return '<a href="/book/'+data+'">Details</a>';
                                        }
                                    },
                                    { "name": "Title",  "targets": 1 },
                                    { "name": "Subtitle",  "targets": 2 },
                                    { "name": "Google_ID",  "targets": 3 },
                                    { "name": "ISBN",  "targets": 4 },
                                    { "name": "Publication_Date",  "targets": 5 },
                                    {
                                        "name": "Image",
                                        "targets": 6,
                                        "render": function ( data, type, row, meta ) {
                                            return '<a href='+data+'>Cover Image</a>';
                                        }
                                    },
                                    {
                                        "name": "Description",
                                        "targets": 7,
                                        "visible": false
                                    }
                                ]

            });
        });
    </script>
{% endblock %}

{% block content %}
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h4 align="center"><strong>Book List</strong></h4>
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-1 ml-auto"></div>
                <div class="col-md-10 ml-auto">
                    <table id="myTable" class="display" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                {% for column in columns %}
                                    <th>{{column}}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-1 ml-auto"></div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
{% endblock %}