{% extends "item.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .home-card-wide > .mdl-card__title {
            color: #fff;
            height: 750px;
            background: url({{logo}}) no-repeat center / contain;
        }
    </style>
{% endblock %}
{% block content %}
    <br/>
    <br/>
    <br/>
    {% for i in publisher %}
        <center>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__title"></div>
                    </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                    <div class="home-card-wide mdl-card mdl-shadow--8dp">
                        <div class="mdl-card__supporting-text">
                            <h3><b><u>Name:</u></b> <b>{{i.name}}</b></h3>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h4><b><u>Publisher:</u></b> {{i.description}}</h4>
                        </div>
                        <div class="mdl-card__supporting-text">
                            <h4><b><u>Owner:</u></b> {{i.owner}}</h4>
                        </div>
                        <div class="mdl-card__actions mdl-card--border">
                            <p><b><u>Wiki link:</u></b> <a href={{i.wiki_link}} class="mdl-button mdl-js-rimdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">Click here to learn more!</a></p>
                        </div>
                        <div class="mdl-card__menu">
                            <button href={{i.image_url}} class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    {% endfor %}
{% endblock %}