{% extends "item.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .home-card-wide > .mdl-card__title {
            color: #fff;
            height: 250px;
            background: url({{logo}}) center / cover;
        }
    </style>
{% endblock %}
{% block content %}
    <center>
        <div align="center" class="mdl-grid">
            <div align="center" class="mdl-cell mdl-cell--6-col">
                <div class="home-card-wide mdl-card mdl-shadow--8dp">
                    <div class="mdl-card__title"></div>
                </div>
            </div>
            <div align="center" class="mdl-cell mdl-cell--6-col">
                <div class="home-card-wide mdl-card mdl-shadow--8dp">
                    <div class="mdl-card__supporting-text">
                        <h3><b>{{name}}</b></h3>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-card__supporting-text">
                            <p><b>Description:</b> {{description}}</p>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-card__supporting-text">
                            <p><b>Owner:</b>{{owner}}</p>
                        </div>
                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <div class="mdl-card__supporting-text">
                            <a href={{website}} class="mdl-button mdl-js-rimdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Website</a>
                            <a href={{wiki}} class="mdl-button mdl-js-rimdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Wikipedia</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
{% endblock %}