{% extends "list.html" %}
{% block title %}Publishers{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <h1 align="center">Publisher List</h1>
    <br/>
    <br/>
    <br/>
    <center>
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--8dp">
            <thead>
                <tr>
                <th class="mdl-data-table__cell--non-numeric">Publisher</th>
                </tr>
            </thead>
            <tbody>
            {% if publishers == [] %}
                <p>No publishers exist</p>         
            {% else %}
                {% for i in publishers %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric"><a href={{ url_for('publisher',id_p=1) }} class="mdl-button">{{i.name}}</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </center>
    <br>
    <br>
{% endblock %}
