{% extends "item.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .home-card-wide > .mdl-card__title {
            color: #fff;
            height: 750px;
            background: url({{logo}}) no-repeat center / contain;
        }
    </style>
{% endblock %}
{% block content %}
    <br/>
    <br/>
    <br/>
    <br/>
    {% for i in publisher %}
    <div class="container-fluid">
            <div class="row">
            <div class="col-md-3 ml-auto"></div>
            <div class="col-md-3 ml-auto">
                <!--Card-->
                <div class="card">
                    <!--Card image-->
                    <img class="img-fluid" src={{i.image_url}}>
                </div>
                <!--/.Card-->
            </div>            
            <div class="col-md-3 ml-auto">
                <!--Card-->
                <div class="card card-cascade">
                    <!--Card content-->
                    <div class="card-body text-center">

                        <p><strong>Name:</strong><br/>{{i.name}}</p>
                
                        <p><strong>Founded:</strong><br/>{{i.founded}}</p>
                
                        <p><strong>Location:</strong><br/>{{i.location}}</p>
                
                        <p><strong>Owner:</strong><br/>{{i.owner}}</p>
                        
                        <p><strong>Wikipedia:</strong><br/><a class="btn btn-default" href={{i.wiki_link}}>Click to learn more!</a></p>

                        <p><strong>Website:</strong><br/><a class="btn btn-secondary" href={{i.website}}>Publisher Website</a></p>                        
                
                    </div>
                    <!--/.Card content-->
                    <div class="card-body text-center">
                        
                        <h4 class="card-title"><strong>Description</strong></h4>
                
                        <p class="card-text">{{i.description}}</p>
                
                    </div>
                    <!--/.Card content-->
                </div>
                <!--/.Card-->
            </div>
            <div class="col-md-3 ml-auto"></div>
            </div>                 
        </div>
        <br/>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ml-auto"></div>
                <div class="col-md-2 ml-auto"></div>                
                <div class="col-md-2 ml-auto">
                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Books Published</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <div class="col-md-2 ml-auto">
                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">
                            <!--Title-->
                            <h4 class="card-title">Affiliated Authors</h4>
                            <!--Text-->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>

                    </div>
                    <!--/.Card-->
                </div>
                <div class="col-md-2 ml-auto"></div>
                <div class="col-md-2 ml-auto"></div>                
            </div>
        </div>                
    {% endfor %}
<br/>
<br/>
{% endblock %}