{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    .navbar {
        background-color: transparent;
    }
    .top-nav-collapse {
        background-color: #1C2331;
    }
    /*#background {
        background-size: cover;
    }*/
    .d-flex {
        display:flex;
    }

    .ui-helper-hidden-accessible { border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    .ui-autocomplete .highlight {
        text-decoration: underline;
        color: yellow;
    }
    .fixed-height {
        padding: 1px;
        max-height: 200px;
        overflow: auto;
    }
    .ui-autocomplete-category {
        font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }
    .ui-autocomplete .highlight {
        text-decoration: underline;
        color: orange;
    }
    .parallax {
        /* The image used */
        background-image: url("../static/images/background.jpg");

        /* Set a specific height */
        height: 1000px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    </style>
{% endblock %}
{% block searchbar %}
<input name="autocomplete" type="text" id="autocomplete" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
{% endblock %}
{% block content %}
    <!--Carousel Wrapper-->
    <div class="parallax"></div>
    <!-- <body>
      <div align="center">
          <br><br><br><br>
          <h2 class="display-4" align="center">Check out our books!</h2>
          <br>
          <h3 align="center"><i>We created a <b>vast</b> database of books to look through and<br>
            to find more information about such as authors and publishers. Get started!</i></h3>
            <a href="/authors"><img src="{{ url_for('static', filename='images/authors1.jpg') }}" class="float-left, img-fluid, rounded" width="30%"></a>
            <<figcaption class="figure-caption text-center">Authors</figcaption> -->
            <!-- <a href="/books"><img src="{{ url_for('static', filename='images/publish.jpg') }}" class="float-right,img-fluid, rounded" width="30%"></a> -->
            <!-- <figcaption class="figure-caption text-center">Publishers</figcaption> -->
          <!-- <br><br><br><br><br><br> -->

    <!-- </body> -->
{% endblock %}

{% block footerContent %}
            <!--Footer links-->
            <div align="center">
                <br>
                <h2 class="display-4" align="center">Check out our books!</h2>
                <br>
                <h3 align="center"><i>We created a <b>vast</b> database of books to look through and<br>
                  to find more information about such as authors and publishers. Get started!</i></h3><br>
                  <a href="/authors"><img src="{{ url_for('static', filename='images/authors.png') }}" class="float-left, img-fluid, rounded" width="30%"></a>
                  <!-- <figcaption class="figure-caption text-center">Authors</figcaption> -->
                  <a href="/books"><img src="{{ url_for('static', filename='images/publish.png') }}" class="float-right,img-fluid, rounded" width="30%"></a>
                  <!-- <figcaption class="figure-caption text-center">Publishers</figcaption> -->
                <br><br><br><br><br><br><br>
              </div>
            <div align="center">
                <h1 class="title mb-3" align="center"><strong>Meet the team</strong></h1>
            </div>
            <br>
            <div align="center">
                <div>
                    <a href="/about" class="btn btn-primary btn-lg" rel="nofollow">About Us</a>
                </div>
            </div>
            <br/><br>
            <div class="container-fluid">
                <div class="row d-flex">
                    <div class="col-md-1 ml-auto"></div>
                    <!--First column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">

                            <!--Card image-->
                            <img class="img-fluid" src="../static/images/carlos.JPG" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Carlos Loya</h4>
                                <!--Text-->
                                <p align="center" class="card-text">(C)arlos Loya</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/carlos-loya"><i class="fa fa-github left"></i></a></center>
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/.First column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Second column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <img class="img-fluid" src="../static/images/AndrewC.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Andrew Chen</h4>
                                <!--Text-->
                                <p align="center" class="card-text">(A)ndrew Chen</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/soy-bean"><i class="fa fa-github left"></i></a></center>
                            </div>

                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/.Second column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Third column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <img class="img-fluid" src="../static/images/nancy.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Nancy Tran</h4>
                                <!--Text-->
                                <p align="center" class="card-text">(N)ancy Tran</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/nancytr"><i class="fa fa-github left"></i></a></center>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/.Third column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Fourth column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">
                        <!--Card image-->
                            <img class="img-fluid" src="../static/images/Jkon.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Jatin Konchady</h4>
                                <!--Text-->
                                <p align="center" class="card-text">(J)atin Konchady</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/jkonchady"><i class="fa fa-github left"></i></a></center>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                    <hr class="w-100 clearfix d-sm-none">
                    <!--/.Fourth column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">
                        <!--Card image-->
                            <img class="img-fluid" src="../static/images/AndrewR.jpg" alt="Card image cap">

                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Andrew Rogalla</h4>
                                <!--Text-->
                                <p align="center" class="card-text">(A)ndrew Rogalla</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/arr3385"><i class="fa fa-github left"></i></a></center>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/.Fifth column-->

                    <div class="col-md-1 ml-auto"></div>
                </div>
            </div>
            <!--/.Footer links-->

            <hr>

{% endblock %}
