{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style>
    /*.navbar {
        background-color: rgb(80, 80, 80);
    }
    #background {
        background-size: cover;
    }*/
    .d-flex {
        display:flex;
    }
    </style>
    <style>
        .ui-helper-hidden-accessible { border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        .ui-autocomplete .highlight {
            text-decoration: underline;
            color: yellow;
        }
        .fixed-height {
            padding: 1px;
            max-height: 200px;
            overflow: auto;
        }
        .ui-autocomplete-category {
            font-weight: bold;
            padding: .2em .4em;
            margin: .8em 0 .2em;
            line-height: 1.5;
        }
        .ui-autocomplete .highlight {
            text-decoration: underline;
            color: orange;
        }
        href{
          color: red;
        }
    </style>
{% endblock %}
{% block searchbar %}
<input name="autocomplete" type="text" id="autocomplete" class="form-control mr-sm-2" placeholder="Search" aria-label="Search">
{% endblock %}
{% block content %}
    <!--Carousel Wrapper-->
    <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                    <div align="center">
                        <img src="{{ url_for('static', filename='images/background.jpg') }}">
                    </div>
                    <div class="full-bg-img"></div>
                <!--Caption-->
                <div class="carousel-caption">
                    <div class="flex-center animated fadeIn">
                        <!-- <ul>
                            <br><br><br><br><br><br><br><br><br><br>
                        </ul> -->
                    </div>
                </div>
                <!--Caption-->
            </div>
            <!--/First slide-->
        </div>
        <!--/.Slides-->
    </div>

{% endblock %}

{% block footerContent %}
            <!--Footer links-->
            <div align="center">
                <h5 class="title mb-3" align="center"><strong>Meet the team</strong></h5>                    
            </div>
            <div align="center">
                <div>
                    <a href="/about" class="btn btn-primary btn-lg" rel="nofollow">About Us</a>
                </div>
            </div>
            <br/>
            <div class="container-fluid">
                <div class="row d-flex">
                    <div class="col-md-1 ml-auto"></div>                          
                    <!--First column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">
                        
                            <!--Card image-->
                            <img class="img-fluid" src="../static/images/carlos.JPG" alt="Card image cap">
                        
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Carlos Loya</h4>
                                <!--Text-->
                                <p align="center" class="card-text">Carlos Loya (C)</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/carlos-loya"><i class="fa fa-github left"></i></a></center>
                            </div>
                        
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/.First column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Second column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <img class="img-fluid" src="../static/images/AndrewC.jpg" alt="Card image cap">
                        
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Andrew Chen</h4>
                                <!--Text-->
                                <p align="center" class="card-text">Andrew Chen (A)</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/soy-bean"><i class="fa fa-github left"></i></a></center>
                            </div>
                        
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/.Second column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Third column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">
                            <!--Card image-->
                            <img class="img-fluid" src="../static/images/nancy.jpg" alt="Card image cap">
                        
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Nancy Tran</h4>
                                <!--Text-->
                                <p align="center" class="card-text">Nancy Tran (N)</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/nancytr"><i class="fa fa-github left"></i></a></center>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/.Third column-->
                    <hr class="w-100 clearfix d-sm-none">
                    <!--Fourth column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">
                        <!--Card image-->
                            <img class="img-fluid" src="../static/images/Jkon.jpg" alt="Card image cap">
                        
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Jatin Konchady</h4>
                                <!--Text-->
                                <p align="center" class="card-text">Jatin Konchady (J)</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/jkonchady"><i class="fa fa-github left"></i></a></center>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                    <hr class="w-100 clearfix d-sm-none">                    
                    <!--/.Fourth column-->
                    <div class="col-md-2 ml-auto d-flex">
                        <!--Card-->
                        <div class="card">
                        <!--Card image-->
                            <img class="img-fluid" src="../static/images/AndrewR.jpg" alt="Card image cap">
                        
                            <!--Card content-->
                            <div class="card-body">
                                <!--Title-->
                                <h4 class="card-title">Andrew Rogalla</h4>
                                <!--Text-->
                                <p align="center" class="card-text">Andrew Rogalla (A)</p>
                                <center><a type="button" class="btn btn-elegant btn-git" href="https://github.com/arr3385"><i class="fa fa-github left"></i></a></center>
                            </div>
                        </div>
                        <!--/.Card-->
                    </div>
                    <!--/.Fifth column-->

                    <div class="col-md-1 ml-auto"></div>                          
                </div>
            </div>
            <!--/.Footer links-->
    
            <hr>
    
{% endblock %}